<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Cotización</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <style>
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: white;
        }
        #logo {
            position: relative;
            left: 90px;
            width: 400px;
        }
        #vigilado {
            float: right;
            width: 300px;
        }
        .servicios-table {
            margin: 35px;
            width: 86%;
            border-collapse: collapse;
        }
        .servicios-table th, .servicios-table td {
            border: 2px solid black;
            padding: 8px;
            text-align: left;
        }
        .servicios-table th {
            background-color: white;
        }
        .servicios-table tr:nth-child(even) {
            background-color: rgb(102, 101, 103, 0.3);
        }
        .servicios-table tr:nth-child(odd) {
            background-color: rgb(144, 201, 167,0.3);
        }
        .servicios-table tr:hover {
            background-color: #90c9a7;
        }
        .CLIENTE {
            position: relative;
            left: 10%;
            border-radius: 10px;
            border: 3px solid black;
            text-align: justify;
            padding: 15px;
            background-color: white;
            width: 30%;
        }
        strong {
            margin-left: 3px;
            margin-right: 5px;
            text-transform: uppercase;
        }
        #servicios {
            padding: 10px;
            background-color: #90c9a7;
            text-align: center;
        }
        footer {
            background-color: #222;
            padding: 4.9rem;
            color: #ffff;
            position: relative;
            top: 438px;
            margin: 0;
        }
        footer section {
            float: right;
            margin: 0;
            position: relative;
            top: -60px;
        }
        footer a {
            transition: color 0.3s ease;
            color: #ffff;
            text-decoration: none;
        }
        footer a:hover {
            color: rgb(162, 204, 170);
        }
        footer p {
            position: relative;
            float: left;
            left: -1199px;
            color: #ffff;
            font-size: 20px;
        }
        .bad {
            font-size: 20px;
            position: relative;
            color: rgb(113, 112, 111);
            right: -20px;
            top: 6px;
        }
        .ok {
            font-size: 20px;
            position: relative;
            top: 30px;
        }
        .volver-btn:hover, .ver:hover {
            background-color: #d9d9d9;
        }
        .volver-btn, .ver {
            position: relative;
            left: 5%;
            text-transform: uppercase;
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
        }
        .TOTAL{
            border: 5px solid black;
            position: relative;
            left: 10%;
            width: 20%;
            padding: 15px;
            background-color:rgb(144, 201, 167,0.3);
        }
        .TOTAL label{
            font-size: 20px;
            margin-right: 20px;
        }
         .TOTAL input{
            width: 50%;
            height: 100%;
         }
         .guardar-btn{
            position: relative;
            left: 30%;
            text-transform: uppercase;
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 25px;
            font-weight: bold;
            text-decoration: none;
         }
          .guardar-btn:hover {
            background-color: #d9d9d9;
        }
    </style>
</head>
<body>
<header>
    <img id="membrete" src="/imagenes/menbrete.png"/>
    <img id="logo" src="/imagenes/logo vianco.png"/>
    <img id="vigilado" src="/imagenes/vigilado.png"/>
    <hr>
</header>
<br>
<br>
    <form action="/generar_plantilla" method="POST">
        <!-- Campos ocultos para los datos de la cotización -->
        <input type="hidden" name="cotizacionId" value="{{cotizacion.id}}">
        <input type="hidden" name="nombre" value="{{cotizacion.nombre}}">
        <input type="hidden" name="cliente" value="{{cotizacion.cliente}}">
        <input type="hidden" name="correo" value="{{cotizacion.correo}}">
        <input type="hidden" name="contacto" value="{{cotizacion.contacto}}">
        <input type="hidden" name="ciudad" value="{{cotizacion.ciudad}}">
        <input type="hidden" name="num_servicios" value="{{cotizacion.num_servicios}}">

        <!-- Campos ocultos para los datos de servicios -->
        {{#each servicios}}
        <input type="hidden" name="servicios[{{@index}}][fecha]" value="{{fecha}}">
        <input type="hidden" name="servicios[{{@index}}][hora]" value="{{hora}}">
        <input type="hidden" name="servicios[{{@index}}][origen]" value="{{origen}}">
        <input type="hidden" name="servicios[{{@index}}][destino]" value="{{destino}}">
        <input type="hidden" name="servicios[{{@index}}][itinerario]" value="{{itinerario}}">
        <input type="hidden" name="servicios[{{@index}}][tipoCarro]" value="{{tipoCarro}}">
        {{/each}}
        <!-- Tu tabla de servicios -->
        <!-- Botón para enviar el formulario -->
   
    <div class="CLIENTE">
        <h2>DATOS DEL CLIENTE</h2>
        <p><strong>Realizada el:</strong> {{formatDate cotizacion.fecha_creacion}}</p>
        <p><strong>Quien cotiza:</strong> {{cotizacion.nombre}}</p>
        <p><strong>CLIENTE:</strong> {{cotizacion.cliente}}</p>
        <p><strong>CORREO:</strong> {{cotizacion.correo}}</p>
        <p><strong>CONTACTO:</strong> {{cotizacion.contacto}}</p>
        <p><strong>CIUDAD:</strong> {{cotizacion.ciudad}}</p>
        <p><strong>Número de servicios:</strong> {{cotizacion.num_servicios}}</p>
    </div>
    <br>
    <br>
    <br>
    <h2 id="servicios">DETALLES SERVICIOS</h2>
    <br>
    <table class="servicios-table">
        <thead>
        <tr>
            <th>FECHA</th>
            <th>TIPO DE CARRO</th>
            <th>ITINERARIO</th>
            <th>ORIGEN</th>
            <th>DESTINO</th>
             <th>HORA</th>
            <th>VALOR POR TRASLADO</th>
            <th>OBSERVACIONES</th> <!-- Nueva columna para observaciones -->
        </tr>
        </thead>
        <tbody>
        {{#each servicios}}
        <tr>
            <td>{{formatDate fecha}}</td>
            <td>{{tipoCarro}}</td>
            <td>{{itinerario}}</td>
            <td>{{origen}}</td>
            <td>{{destino}}</td>
            <td>{{hora}}</td>
            <td><input type="number" name="servicios[{{@index}}][valor]" value="{{this.valor}}" required></td>
            <td><input type="text" name="servicios[{{@index}}][observaciones]"></td> <!-- Campo para observaciones -->
        </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="TOTAL">
        <label for="valorTotal">VALOR TOTAL:</label>
        <input type="text" name="valorTotal">
    </div>
    <button class="guardar-btn" type="button">Guardar</button>
    <button class="volver-btn" type="submit" style="display: none;">Generar Plantilla</button>
</form>

<footer>
    <section>
        <a href="mailto:soporte.it.vianco@gmail.com">soporte.it.vianco@gmail.com</a>
        <p>Copyrigt soporteVianco</p>
        <nav class="">
            <ul class="w-full ml-auto flex justify-end pt-1"></ul>
        </nav>
</footer>
<script>
    function formatDate(dateString) {
        const date = new Date(dateString);
        const day = date.getDate().toString().padStart(2, '0');
        const month = (date.getMonth() + 1).toString().padStart(2, '0');
        const year = date.getFullYear().toString();
        return `${day}/${month}/${year}`;
    }
    
    document.querySelector('.guardar-btn').addEventListener('click', function() {
        const valorTotal = document.querySelector('input[name="valorTotal"]').value;
        const servicios = Array.from(document.querySelectorAll('.servicios-table tbody tr')).map(row => {
            if (!row) {
                console.error("La fila es nula");
                return null;
            }
            const valorInput = row.querySelector('input[name$="[valor]"]');
            const valor = valorInput ? valorInput.value : ''; // Manejo de valor nulo
            const observacionesInput = row.querySelector('input[name$="[observaciones]"]');
            const observaciones = observacionesInput ? observacionesInput.value : ''; // Manejo de valor nulo
            return {
                valor,
                observaciones
            };
        });

        fetch('/guardar_datos', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                cotizacionId: '{{cotizacion.id}}',
                valorTotal: valorTotal,
                servicios: servicios
            })
        })
        .then(response => {
            if (response.ok) {
                alert('Datos guardados exitosamente');
                // Mostrar el botón de Generar Plantilla después de guardar los datos
                document.querySelector('.volver-btn').style.display = 'inline-block';
            } else {
                alert('Error al guardar los datos');
            }
        })
        .catch(error => {
            console.error('Error:', error);
            alert('Error al procesar la solicitud');
        });
    });
</script>
</body>
</html>
