<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantilla Personalizada de Cotización</title>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.1/html2canvas.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            font-size: 20px;
            border: 2px solid black;
            max-width: 50%;
            margin: 20px auto;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .todo {
            padding: 20px;
        }
        h1, h2 {
            color: black;
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        caption {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        caption, th {
            background-color: #f0f0f0;
            border-bottom: 3px solid #ddd;
        }
        ol {
            padding-left: 20px;
        }
        #logo {
            position: relative;
            width: 30%;
        }
        #vigilado {
            padding: 20px;
            float: right;
            width: 25%;
        }
        header {
            margin: 0;
            background-color: white;
        }
        #aba{
            position: relative;
            width: 100%;
            top: 3PX;
        }
             .volver-btn:hover, .ver:hover {
            background-color: #d9d9d9;
        }
        .volver-btn, .ver {
            position: relative;
            left: 50px;

            text-transform: uppercase;
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
        }
    </style>
</head>
<br>
<br>
<body>
    
     <a href="/cotizaciones_pendientes" class="volver-btn"><strong>Volver</strong></a>

        <button class="volver-btn " id="convertirBtn">DESCARGAR</button>
    <div class="TO">
    <div class="container" id="contenedor">
        <header>
            <img id="membrete" src="/imagenes/menbrete.png"/>
            <img  id="logo" src="/imagenes/logo vianco.png"/>
            <img  id="vigilado" src="/imagenes/vigilado.png"/>
        </header>
        <br>
        <br>
        <br>
        
        <div class="todo">
            <br>
            <table>
                <tr>
                    <td><strong>CLIENTE:</strong> {{cliente.cliente}}</td>
                    <td><strong>COTIZACION N°:</strong> {{cotizacionId}}</td>
                    <td><strong>Valor Total: $</strong> {{valorTotal}}</td>
                </tr>
                <tr>
                    <td><strong>Correo:</strong> {{cliente.correo}}</td>
                    <td><strong>Contacto:</strong> {{cliente.contacto}}</td>
                    <td><strong>Ciudad:</strong> {{cliente.ciudad}}</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>N° DE SERVICIOS:</strong> {{cliente.num_servicios}}</td>
                </tr>
            </table>
<br>
<br>

            <table>
                <caption>Vianco Te Transporta a un mundo lleno de experiencias</caption>
              
                <thead>
                     <br>
               <br>
                    <tr>
                        <th>FECHA</th>
                        <th>TIPO DE CARRO</th>
                        <th>ITINERARIO</th>
                        <th>ORIGEN</th>
                        <th>DESTINO</th>
                        <th>HORA</th>
                        <th>VALOR POR TRASLADO</th>
                        <th>OBSERVACIONES</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each servicios}}
                    <tr>
                        <td>{{formatDate fecha}}</td>
                        <td>{{tipoCarro}}</td>
                        <td>{{itinerario}}</td>
                        <td>{{origen}}</td>
                        <td>{{destino}}</td>
                        <td>{{hora}}</td>
                        <td>$ {{valor}}</td>
                                                <td>$ {{valor}}</td>

                    </tr>
                    {{/each}}
                </tbody>
            </table>
                <br>
            <h2><strong>Total de la cotización: $</strong> {{valorTotal}}</h2>

            <h2>Observaciones / Notas</h2>
            <ol>
                <li>Esta cotización tiene una vigencia de 30 días a partir de la fecha de envío.</li>
                <li>Para reservar el vehículo, deben realizar el pago del 50% del valor total y el otro 50% el día antes de iniciar el servicio.</li>
                <li>Los vehículos cuentan con amenities y los conductores altamente calificados.</li>
                <li>Los vehículos son modelos 2022 en adelante.</li>
                <li>Cualquier cambio debe ser comunicado al Callcenter o al ejecutivo de cuenta.</li>
            </ol>
 <br>
            <br>
            <p><strong>Atentamente</strong></p>
            <p>VIANCO TE TRANSPORTA S.A.S</p>

            <br>
            <br>
            <br>
            </div>
                                                <img  id="aba" src="/imagenes/abajo_cotizacion.png"/>

        </div>


   <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('convertirBtn').addEventListener('click', function() {
                // Captura el contenedor específico por su ID
                const container = document.getElementById('contenedor');
                
                // Usa html2canvas para capturar el contenido HTML y convertirlo en una imagen
                html2canvas(container, {
                    width: container.scrollWidth, // Captura el ancho completo del contenedor
                    height: container.scrollHeight // Captura la altura completa del contenedor
                }).then(canvas => {
                    // Convierte el canvas en una URL de datos
                    const dataUrl = canvas.toDataURL();

                    // Crea un enlace para descargar la imagen
                    const a = document.createElement('a');
                    a.href = dataUrl;
                    a.download = 'COTIZACION VIANCO.png';
                    a.textContent = 'Descargar Imagen';
                    document.body.appendChild(a);

                    // Simula un clic en el enlace para iniciar la descarga
                    a.click();
                });
            });
        });
    </script>



</body>
</html>
