<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
           <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.1/html2canvas.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

</head>
<body>
    
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        .container {
            font-size: 20px;
            border: 2px solid black;
            max-width: 50%;
            margin: 20px auto;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        .todo {
            padding: 20px;
        }
        h1, h2 {
            color: black;
            margin-top: 0;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }
        table, th, td {
            border: 1px solid #ddd;
        }
        th, td {
            padding: 10px;
            text-align: left;
        }
        caption {
            font-weight: bold;
            font-size: 1.2em;
            margin-bottom: 10px;
        }
        caption, th {
            background-color: #f0f0f0;
            border-bottom: 3px solid #ddd;
        }
        ol {
            padding-left: 20px;
        }
        #logo {
            position: relative;
            width: 30%;
        }
        #vigilado {
            padding: 20px;
            float: right;
            width: 25%;
        }
        header {
            margin: 0;
            background-color: white;
        }
        #aba{
            position: relative;
            width: 100%;
            top: 3PX;
        }
             .volver-btn:hover, .ver:hover {
            background-color: #d9d9d9;
        }
        .volver-btn, .ver {
            position: relative;
            left: 50px;

            text-transform: uppercase;
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 20px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
        }
        #logo {
            position: relative;
            left: 90px;
            width: 400px;
        }
        
        #vigilado {
            float: right;
            width: 300px;
        }
        h1 {
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: #333; /* Color de texto oscuro */
    margin-bottom: 20px; /* Espacio inferior */
}

/* Estilos para el formulario de búsqueda */
form {
  background-color: #90c9a7;
  width: 100%;
    display: flex; /* Mostrar los elementos en línea */
    align-items: center; /* Centrar verticalmente los elementos */
}

label {
  padding: 30px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #666; /* Color de texto gris */
    margin-right: 10px; /* Espacio a la derecha del texto */
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc; /* Borde del input */
    border-radius: 4px; /* Bordes redondeados */
    width: 200px; /* Ancho del input */
}

button[type="submit"] {
  margin-left: 1%;
    padding: 8px 16px; /* Espaciado interno */
    font-size: 26px;
    background-color: #d9d9d9; /* Color de fondo azul */
    color: #fff; /* Color de texto blanco */
    border: none; /* Eliminar borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave */
}

button[type="submit"]:hover {
    background-color: #0056b3; /* Cambiar el color de fondo al pasar el cursor */
}
#id{
    border-radius: 5px;
    position: relative;
    left: 20px;
    padding: 20px;
    width: 10%;
background-color: #90c9a7;

}
    </style>
    <header>
        <img id="membrete" src="/imagenes/menbrete.png"/>
        <img id="logo" src="/imagenes/logo vianco.png"/>
        <img id="vigilado" src="/imagenes/vigilado.png"/>
    </header>
    <br>
    <br>
    <br>
    <br>
    <h1></h1>
    <div>
        <div class="busca">
        <form action="/ver_cotizaciones" method="GET">
            <label for="numero_fuec"><h2> Buscar por número fuec:</h2></label>
            <input type="text" id="numero_fuec" name="numero_fuec">
            <button type="submit">Buscar</button>
            <a href="/" class="volver-btn"><strong>Volver al Menú</strong></a>
            </div>
        </form>
    </div>
    <br>
    <br>
         {{#if cotizacion}}
        
 <h2 id="id" >Cotizacion N°: {{cotizacion.id}}</h2>
         <button class="volver-btn " id="convertirBtn">DESCARGAR</button>

    <div>
 
        <br>
           
           
            <div class="TO">
    <div class="container" id="contenedor">
        <header>
            <img id="membrete" src="/imagenes/menbrete.png"/>
            <img  id="logo" src="/imagenes/logo vianco.png"/>
            <img  id="vigilado" src="/imagenes/vigilado.png"/>
        </header>
        <br>
        <br>
        <br>
        
        <div class="todo">
            <br>
            <table>
                <tr>
                    <td><strong>CLIENTE:</strong> {{cotizacion.cliente}}</td>
                    <td><strong>COTIZACION N°:</strong> {{cotizacion.id}}</td>
                    <td><strong>Valor Total: $</strong> {{valorTotal}}</td>
                </tr>
                <tr>
                    <td><strong>Correo:</strong> {{cotizacion.correo}}</td>
                    <td><strong>Contacto:</strong> {{cotizacion.contacto}}</td>
                    <td><strong>Ciudad:</strong> {{cotizacion.ciudad}}</td>
                </tr>
                <tr>
                    <td colspan="3"><strong>N° DE SERVICIOS:</strong> {{cotizacion.num_servicios}}</td>
                </tr>
            </table>
<br>
<br>

            <table>
                <caption>Vianco Te Transporta a un mundo lleno de experiencias</caption>
              
                <thead>
                     <br>
               <br>
                    <tr>
                        <th>FECHA</th>
                        <th>TIPO DE CARRO</th>
                        <th>ITINERARIO</th>
                        <th>ORIGEN</th>
                        <th>DESTINO</th>
                        <th>HORA</th>
                        <th>VALOR POR TRASLADO</th>
                    </tr>
                </thead>
               <tbody>
<tbody>
    {{#if cotizacion.fecha1}}
    <tr>
        <!-- Accede a las propiedades del servicio actual (this) -->
        <td>{{cotizacion.fecha1}}</td>
        <td>{{cotizacion.tipoCarro1}}</td>
        <td>{{cotizacion.itinerario1}}</td>
        <td>{{cotizacion.origen1}}</td>
        <td>{{cotizacion.destino1}}</td>
        <td>{{cotizacion.hora1}}</td>
        <td>$ {{cotizacion.valor1}}</td>
    </tr>
    {{/if}}
    {{#if cotizacion.fecha2}}
    <tr>
        <!-- Accede a las propiedades del servicio actual (this) -->
        <td>{{cotizacion.fecha2}}</td>
        <td>{{cotizacion.tipoCarro2}}</td>
        <td>{{cotizacion.itinerario2}}</td>
        <td>{{cotizacion.origen2}}</td>
        <td>{{cotizacion.destino2}}</td>
        <td>{{cotizacion.hora2}}</td>
        <td>$ {{cotizacion.valor2}}</td>
    </tr>
    {{/if}}
    {{#if cotizacion.fecha3}}
    <tr>
        <!-- Accede a las propiedades del servicio actual (this) -->
        <td>{{cotizacion.fecha3}}</td>
        <td>{{cotizacion.tipoCarro3}}</td>
        <td>{{cotizacion.itinerario3}}</td>
        <td>{{cotizacion.origen3}}</td>
        <td>{{cotizacion.destino3}}</td>
        <td>{{cotizacion.hora3}}</td>
        <td>$ {{cotizacion.valor3}}</td>
    </tr>
    {{/if}}
    {{#if cotizacion.fecha4}}
    <tr>
        <!-- Accede a las propiedades del servicio actual (this) -->
        <td>{{cotizacion.fecha4}}</td>
        <td>{{cotizacion.tipoCarro4}}</td>
        <td>{{cotizacion.itinerario4}}</td>
        <td>{{cotizacion.origen4}}</td>
        <td>{{cotizacion.destino4}}</td>
        <td>{{cotizacion.hora4}}</td>
        <td>$ {{cotizacion.valor4}}</td>
    </tr>
    {{/if}}
    {{#if cotizacion.fecha5}}
    <tr>
        <!-- Accede a las propiedades del servicio actual (this) -->
        <td>{{cotizacion.fecha5}}</td>
        <td>{{cotizacion.tipoCarro5}}</td>
        <td>{{cotizacion.itinerario5}}</td>
        <td>{{cotizacion.origen5}}</td>
        <td>{{cotizacion.destino5}}</td>
        <td>{{cotizacion.hora5}}</td>
        <td>$ {{cotizacion.valor5}}</td>
    </tr>
    {{/if}}
</tbody>


            </table>
                <br>
            <h2><strong>Total de la cotización: $</strong> {{valorTotal}}</h2>

            <h2>Observaciones / Notas</h2>
            <ol>
                <li>Esta cotización tiene una vigencia de 30 días a partir de la fecha de envío.</li>
                <li>Para reservar el vehículo, deben realizar el pago del 50% del valor total y el otro 50% el día antes de iniciar el servicio.</li>
                <li>Los vehículos cuentan con amenities y los conductores altamente calificados.</li>
                <li>Los vehículos son modelos 2022 en adelante.</li>
                <li>Cualquier cambio debe ser comunicado al Callcenter o al ejecutivo de cuenta.</li>
            </ol>
 <br>
            <br>
            <p><strong>Atentamente</strong></p>
            <p>VIANCO TE TRANSPORTA S.A.S</p>

            <br>
            <br>
            <br>
            </div>
                                                <img  id="aba" src="/imagenes/abajo_cotizacion.png"/>

        </div>

           
           
    
           
           
           
           
           
           
            <!-- Agrega los campos adicionales según sea necesario -->
        {{else}}
            <p>No se encontró ninguna cotización con el ID proporcionado.</p>
        {{/if}}
    </div>
       <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('convertirBtn').addEventListener('click', function() {
                // Captura el contenedor específico por su ID
                const container = document.getElementById('contenedor');
                
                // Usa html2canvas para capturar el contenido HTML y convertirlo en una imagen
                html2canvas(container, {
                    width: container.scrollWidth, // Captura el ancho completo del contenedor
                    height: container.scrollHeight // Captura la altura completa del contenedor
                }).then(canvas => {
                    // Convierte el canvas en una URL de datos
                    const dataUrl = canvas.toDataURL();

                    // Crea un enlace para descargar la imagen
                    const a = document.createElement('a');
                    a.href = dataUrl;
                    a.download = 'FUEC_VIANCO';
                    a.textContent = 'Descargar Imagen';
                    document.body.appendChild(a);

                    // Simula un clic en el enlace para iniciar la descarga
                    a.click();
                });
            });
        });
    </script>
</body>
</html>
