<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verificación de Servicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
        body {
            font-family: 'Roboto', Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: linear-gradient(to right, #f2f2f2, #ffffff);
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        h1, h2, h3 {
            color: black;
            text-align: center; /* Centrar los títulos */
        }

        .toggle-button {
          text-transform: uppercase;
            background-color:  rgb(144,201,167);
            color: black;
            border: none;
            padding: 12px 24px;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

        .toggle-button:hover {
            background-color:rgb(102, 101, 103);
            transform: scale(1.05);
        }

        .accept-button, .reject-button {
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 14px;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s;
            margin-right: 10px;
        }

        .accept-button {
            background-color:  rgb(144,201,167);
        }

        .accept-button:hover {
            background-color: #45a049;
        }

        .reject-button {
            background-color: #f44336;
        }

        .reject-button:hover {
            background-color: #e53935;
        }

        .servicio {
            border: 1px solid black;
            border-radius: 10px;
            padding: 20px;
            margin-bottom: 20px;
            background-color: #f9f9f9;
        }

        .servicio h4 {
            font-size: 25px;
            color: rgb(144,201,167);
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Bienvenido, {{nombreUsuario}}</h1>
        <h2>Verifique y acepte la cotizaciones</h2>
        <br>
        {{#each cotizacionesPorServicios}}
            {{#if this}} <!-- Verificar si hay servicios -->
                <div class="servicios-container">
                                        <h3>COTIZACIONES DE {{@key}} SERVICIOS</h3>

                    <button class="toggle-button" data-key="{{@key}}" onclick="toggleServicios('{{@key}}')">Mostrar cotizacion de  ({{@key}})  </button>
                    <div id="servicios-{{@key}}" style="display: none;">
                        {{#each this}}
                          <br>
                        <br>
                            <div class="servicio">
                                <div class="servicio">

                                <h4>N° COTIZACION : {{id}}</h4>
                                <p>{{#if cliente}}<strong>Cliente:</strong> {{cliente}}{{/if}}</p>
                                <p>{{#if nombre}}<strong>Nombre:</strong> {{nombre}}{{/if}}</p>
                                <p>{{#if correo}}<strong>Correo:</strong> {{correo}}{{/if}}</p>
                                <p>{{#if contacto}}<strong>Contacto:</strong> {{contacto}}{{/if}}</p>
                                <p>{{#if ciudad}}<strong>Ciudad:</strong> {{ciudad}}{{/if}}</p>
                                <p>{{#if num_servicios}}<strong>Número de Servicios:</strong> {{num_servicios}}{{/if}}</p>
                                <p>{{#if fecha1}}<strong>Fecha 1:</strong> <span class="fecha" id="fecha1">{{fecha1}}</span> <strong>Hora 1:</strong> {{hora1}}{{/if}}</p>
                                <p>{{#if origen1}}<strong>Origen 1:</strong> {{origen1}} <strong>Destino 1:</strong> {{destino1}}{{/if}}</p>
                                <p>{{#if itinerario1}}<strong>Itinerario 1:</strong> {{itinerario1}} <strong>Tipo Carro 1:</strong> {{tipoCarro1}}{{/if}}</p>
                                <p>{{#if fecha2}}<strong>Fecha 2:</strong> <span class="fecha" id="fecha2">{{fecha2}}</span> <strong>Hora 2:</strong> {{hora2}}{{/if}}</p>
                                <p>{{#if origen2}}<strong>Origen 2:</strong> {{origen2}} <strong>Destino 2:</strong> {{destino2}}{{/if}}</p>
                                <p>{{#if itinerario2}}<strong>Itinerario 2:</strong> {{itinerario2}} <strong>Tipo Carro 2:</strong> {{tipoCarro2}}{{/if}}</p>
                                <p>{{#if fecha3}}<strong>Fecha 3:</strong> <span class="fecha" id="fecha3">{{fecha3}}</span> <strong>Hora 3:</strong> {{hora3}}{{/if}}</p>
                                <p>{{#if origen3}}<strong>Origen 3:</strong> {{origen3}} <strong>Destino 3:</strong> {{destino3}}{{/if}}</p>
                                <p>{{#if itinerario3}}<strong>Itinerario 3:</strong> {{itinerario3}} <strong>Tipo Carro 3:</strong> {{tipoCarro3}}{{/if}}</p>
                                <p>{{#if fecha4}}<strong>Fecha 4:</strong> <span class="fecha" id="fecha4">{{fecha4}}</span> <strong>Hora 4:</strong> {{hora4}}{{/if}}</p>
                                <p>{{#if origen4}}<strong>Origen 4:</strong> {{origen4}} <strong>Destino 4:</strong> {{destino4}}{{/if}}</p>
                                <p>{{#if itinerario4}}<strong>Itinerario 4:</strong> {{itinerario4}} <strong>Tipo Carro 4:</strong> {{tipoCarro4}}{{/if}}</p>
                                <p>{{#if fecha5}}<strong>Fecha 5:</strong> <span class="fecha" id="fecha5">{{fecha5}}</span> <strong>Hora 5:</strong> {{hora5}}{{/if}}</p>
                                <p>{{#if origen5}}<strong>Origen 5:</strong> {{origen5}} <strong>Destino 5:</strong> {{destino5}}{{/if}}</p>
                                <p>{{#if itinerario5}}<strong>Itinerario 5:</strong> {{itinerario5}} <strong>Tipo Carro 5:</strong> {{tipoCarro5}}{{/if}}</p>
                                <p>{{#if valor_1}}<strong>Valor 1:</strong> {{valor_1}}{{/if}}</p>
                                <p>{{#if valor_2}}<strong>Valor 2:</strong> {{valor_2}}{{/if}}</p>
                                <p>{{#if valor_3}}<strong>Valor 3:</strong> {{valor_3}}{{/if}}</p>
                                <p>{{#if valor_4}}<strong>Valor 4:</strong> {{valor_4}}{{/if}}</p>
                                <p>{{#if valor_5}}<strong>Valor 5:</strong> {{valor_5}}{{/if}}</p>
                                <p>{{#if observaciones_1}}<strong>Observaciones 1:</strong> {{observaciones_1}}{{/if}}</p>
                                <p>{{#if observaciones_2}}<strong>Observaciones 2:</strong> {{observaciones_2}}{{/if}}</p>
                                <p>{{#if observaciones_3}}<strong>Observaciones 3:</strong> {{observaciones_3}}{{/if}}</p>
                                <p>{{#if observaciones_4}}<strong>Observaciones 4:</strong> {{observaciones_4}}{{/if}}</p>
                                <p>{{#if observaciones_5}}<strong>Observaciones 5:</strong> {{observaciones_5}}{{/if}}</p>
                                <p>{{#if adicionales_check}}<strong>Adicionales-check:</strong> {{adicionales_check}}{{/if}}</p>
                                <p>{{#if adicionales}}<strong>Adicionales:</strong> {{adicionales}}{{/if}}</p>
                                <p>{{#if subtotal}}<strong>Subtotal:</strong> {{subtotal}}{{/if}}</p>
                                <p>{{#if descuento}}<strong>Descuento:</strong> {{descuento}}{{/if}}</p
                                <p>{{#if valor_total}}<strong>Valor Total:</strong> {{valor_total}}{{/if}}</p>
                                <button class="accept-button" onclick="marcarAceptada('{{id}}')">Aceptar</button>
                                <button class="reject-button" onclick="marcarRechazada('{{id}}')">Rechazar</button>
                            </div>
</div>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <script>
        function toggleServicios(numeroServicios) {
            var serviciosContainer = document.getElementById('servicios-' + numeroServicios);
            var button = document.querySelector('.toggle-button[data-key="' + numeroServicios + '"]');

            if (serviciosContainer.style.display === 'none') {
                serviciosContainer.style.display = 'block'; // Muestra los servicios
                button.textContent = 'Ocultar Servicios (' + numeroServicios + ')'; // Cambia el texto del botón
            } else {
                serviciosContainer.style.display = 'none'; // Oculta los servicios
                button.textContent = 'Mostrar Servicios (' + numeroServicios + ')'; // Cambia el texto del botón de vuelta
            }
        }
        function marcarAceptada(id) {
            fetch('/marcar_aceptada/' + id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ realizada: 'Sí' }) // Aquí puedes ajustar el valor de 'realizada' según sea necesario
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al marcar como aceptada');
                }
                return response.text();
            })
            .then(data => {
                console.log(data); // Mensaje del servidor
                // Recargar la página
                window.location.reload(true);
            })
            .catch(error => {
                console.error('Error:', error);
                // Manejar el error, mostrar un mensaje de error al usuario, etc.
            });
        }

        function marcarRechazada(id) {
            fetch('/marcar_rechazada/' + id, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Error al marcar como rechazada');
                }
                return response.text();
            })
            .then(data => {
                console.log(data); // Mensaje del servidor
                // Recargar la página
                window.location.reload(true);
            })
            .catch(error => {
                console.error('Error:', error);
                // Manejar el error, mostrar un mensaje de error al usuario, etc.
            });
        }
    </script>
    <script>
    // Función para formatear la fecha a 'dd/mm/yyyy'
    function formatDate(dateString) {
        const options = { day: 'numeric', month: 'long', year: 'numeric' };
        const date = new Date(dateString);
        return date.toLocaleDateString('es-ES', options);
    }

    // Función para actualizar las fechas en el HTML
 // Función para actualizar las fechas en el HTML
function updateDateElements() {
    const fechaElements = document.querySelectorAll('.fecha');
    fechaElements.forEach(element => {
        element.textContent = formatDate(element.textContent);
    });
}

// Llama a la función para actualizar las fechas cuando se cargue la página
window.addEventListener('DOMContentLoaded', updateDateElements);

</script>

</body>
</html>
