<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Vehículo - Placa: {{ vehiculo.Placa }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        /* Estilos generales para el cuerpo de la página */
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4; /* Color de fondo */
            color: #333; /* Color del texto */
        }

        /* Estilos para el encabezado */
        header {
            background-color: #fff; /* Color de fondo */
            padding: 0px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra */
        }

        /* Estilos para el contenedor principal */
        .container {
            max-width: 1700px; /* Ancho máximo */
            margin: auto; /* Centrar horizontalmente */
            padding: 20px; /* Espacio alrededor del contenido */
        }

        /* Estilos para los títulos */
        h1 {
            font-size: 32px; /* Tamaño de fuente */
            margin-top: 30px; /* Margen superior */
            margin-bottom: 20px; /* Margen inferior */
        }

        /* Estilos para el formulario */
        form {
            background-color: #fff; /* Color de fondo */
            padding: 50px; /* Espaciado interno */
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra */
           
        }

        /* Estilos para los grupos de formulario */
        .form-group {
            margin-bottom: 20px; /* Margen inferior */
        }

        /* Estilos para las etiquetas de formulario */
        .form-group label {
            display: block; /* Mostrar como bloque */
            font-size: 40px; /* Tamaño de fuente */
            margin-bottom: 5px; /* Margen inferior */
        }

        /* Estilos para los campos de entrada de formulario */
        .form-group input {
            width: 100%; /* Ancho completo */
            font-size: 66px; /* Tamaño de fuente */
            padding: 10px; /* Espaciado interno */
            border: 1px solid #ccc; /* Borde */
            border-radius: 5px; /* Radio del borde */
        }

        /* Estilos para los botones */
        button {
           background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            left: 220PX;
        }

        /* Estilos para el hover del botón */
        button:hover {
              background-color: #d9d9d9;
        }
        label{
            padding: 12px;
            font-size: 25px;
            display: inline-block; /* Aplicamos inline-block al div */
            width: 200px; /* Ancho de la caja */
            height: 100px; /* Alto de la caja */
            background-color: ; /* Color de fondo rojo */
            margin-right: 20px; /* Margen derecho para separar las cajas */
        }
    

        input{
            font-size: 20px;
            text-align:justify;
            align-items: center;
             padding: 10px;
               margin-bottom: 0px;

        }
            strong {
            text-transform: uppercase;
        }
                 .volver-btn {
                    position:relative;
                    left: 30%;

                    
           background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
       
        }
        .volver-btn:hover {
            background-color: #d9d9d9;
        }
    </style>


<body>

        <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="../imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="../imagenes/vigilado.png"/>
        <hr>
        
       
 




    </header>
    <div class="container">
        <div class="heading"><h1>VEHICULO :{{ vehiculo.Placa }}</h1></div>

<form action="/guardar-edicion" method="POST">

        <h2>Información Técnica</h2>
        <label for="placa">Placa:</label>
        <input type="text" id="placa" name="placa" value="{{ vehiculo.Placa }}" readonly><br><br>

        <label for="base">Base:</label>
        <input type="text" id="base" name="base" value="{{ vehiculo.Base }}"><br><br>

        <label for="conductor">Conductor:</label>
        <input type="text" id="conductor" name="conductor" value="{{ vehiculo.Conductor }}"><br><br>

        <label for="noMovil">N° Móvil:</label>
        <input type="text" id="noMovil" name="noMovil" value="{{ vehiculo.No_movil }}"><br><br>

        <label for="matricula">Matrícula:</label>
        <input type="text" id="matricula" name="matricula" value="{{ vehiculo.Matricula }}"><br><br>

        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" value="{{ vehiculo.Marca }}"><br><br>

        <label for="linea">Línea:</label>
        <input type="text" id="linea" name="linea" value="{{ vehiculo.Linea }}"><br><br>

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" name="modelo" value="{{ vehiculo.Modelo }}"><br><br>

        <label for="numMotor">N° Motor:</label>
        <input type="text" id="numMotor" name="numMotor" value="{{ vehiculo.Numero_motor }}"><br><br>

        <label for="numChasis">N° Chasis:</label>
        <input type="text" id="numChasis" name="numChasis" value="{{ vehiculo.Numero_chasis }}"><br><br>

        <label for="claseVehiculo">Clase de Vehículo:</label>
        <input type="text" id="claseVehiculo" name="claseVehiculo" value="{{ vehiculo.Clase_vehiculo }}"><br><br>

        <label for="capacidad">Capacidad:</label>
        <input type="text" id="capacidad" name="capacidad" value="{{ vehiculo.Capacidad }}"><br><br>

        <label for="numPuestos">N° de Puestos:</label>
        <input type="text" id="numPuestos" name="numPuestos" value="{{ vehiculo.Num_puestos }}"><br><br>

        <label for="puertas">Puertas:</label>
        <input type="text" id="puertas" name="puertas" value="{{ vehiculo.Puertas }}"><br><br>

        <label for="numEjes">N° de Ejes:</label>
        <input type="text" id="numEjes" name="numEjes" value="{{ vehiculo.Num_ejes }}"><br><br>

        <label for="cilindraje">Cilindraje:</label>
        <input type="text" id="cilindraje" name="cilindraje" value="{{ vehiculo.Cilindraje }}"><br><br>

        <label for="color">Color:</label>
        <input type="text" id="color" name="color" value="{{ vehiculo.Color }}"><br><br>

        <label for="combustible">Combustible:</label>
        <input type="text" id="combustible" name="combustible" value="{{ vehiculo.Combustible }}"><br><br>

        <label for="carroceria">Carrocería:</label>
        <input type="text" id="carroceria" name="carroceria" value="{{ vehiculo.Carroceria }}"><br><br>

        <label for="fechaMatricula">Fecha Matrícula:</label>
        <input type="text" id="fechaMatricula" name="fechaMatricula" value="{{ vehiculo.Fecha_matricula }}"><br><br>

        <hr>

        <h2>Documentos Reglamentarios</h2>
        <label for="numSoat">N° SOAT:</label>
        <input type="text" id="numSoat" name="numSoat" value="{{ vehiculo.Num_soat }}"><br><br>

        <label for="cda">CDA:</label>
        <input type="text" id="cda" name="cda" value="{{ vehiculo.Cda }}"><br><br>

        <label for="fechaVigenciaSoat">Fecha Vigencia SOAT:</label>
        <input type="text" id="fechaVigenciaSoat" name="fechaVigenciaSoat" value="{{ vehiculo.VigenciaSoat }}"><br><br>

        <label for="numTecnomecanica">N° Tecnomecánica:</label>
        <input type="text" id="numTecnomecanica" name="numTecnomecanica" value="{{ vehiculo.Num_tecnomecanica }}"><br><br>

        <label for="companiaAseguradora">Compañía Aseguradora:</label>
        <input type="text" id="companiaAseguradora" name="companiaAseguradora" value="{{ vehiculo.Compania_aseguradora }}"><br><br>

        <label for="fechaInicioTecnomecanica">Fecha Inicio Tecnomecánica:</label>
        <input type="text" id="fechaInicioTecnomecanica" name="fechaInicioTecnomecanica" value="{{ vehiculo.Fecha_inicio_tecnomecanica }}"><br><br>

        <label for="fechaVigencia">Fecha Vigencia:</label>
        <input type="text" id="fechaVigencia" name="fechaVigencia" value="{{ vehiculo.Fecha_vigencia }}"><br><br>

        <hr>

        <h2>Información General</h2>
        <label for="propietarioContrato">Propietario Contrato:</label>
        <input type="text" id="propietarioContrato" name="propietarioContrato" value="{{ vehiculo.Propietario_contrato }}"><br><br>

        <label for="propietarioLicencia">Propietario Licencia:</label>
        <input type="text" id="propietarioLicencia" name="propietarioLicencia" value="{{ vehiculo.Propietario_licencia }}"><br><br>

        <label for="afiliadoA">Afiliado A:</label>
        <input type="text" id="afiliadoA" name="afiliadoA" value="{{ vehiculo.Afiliado_a }}"><br><br>

        <label for="vigenciaPolizas">Vigencia Pólizas:</label>
        <input type="text" id="vigenciaPolizas" name="vigenciaPolizas" value="{{ vehiculo.Vigencia_polizas }}"><br><br>

        <label for="numTarjetaOperacion">N° Tarjeta Operación:</label>
        <input type="text" id="numTarjetaOperacion" name="numTarjetaOperacion" value="{{ vehiculo.Num_tarjeta_operacion }}"><br><br>

        <label for="empresaAfiliacion">Empresa Afiliación:</label>
        <input type="text" id="empresaAfiliacion" name="empresaAfiliacion" value="{{ vehiculo.Empresa_afiliacion }}"><br><br>

        <label for="fechaFinalOperacion">Fecha Final Operación:</label>
        <input type="text" id="fechaFinalOperacion" name="fechaFinalOperacion" value="{{ vehiculo.Fecha_final_operacion }}"><br><br>

        <label for="numPreventiva1">N° Preventiva 1:</label>
        <input type="text" id="numPreventiva1" name="numPreventiva1" value="{{ vehiculo.Num_preventiva_1 }}"><br><br>

        <label for="cdaPreventiva">CDA Preventiva:</label>
        <input type="text" id="cdaPreventiva" name="cdaPreventiva" value="{{ vehiculo.Cda_preventiva }}"><br><br>

        <label for="fechaInicialPreventiva1">Fecha Inicial Preventiva 1:</label>
        <input type="text" id="fechaInicialPreventiva1" name="fechaInicialPreventiva1" value="{{ vehiculo.Fecha_inicial_preventiva_1 }}"><br><br>

        <label for="fechaFinalPreventiva1">Fecha Final Preventiva 1:</label>
        <input type="text" id="fechaFinalPreventiva1" name="fechaFinalPreventiva1" value="{{ vehiculo.Fecha_final_preventiva_1 }}"><br><br>

        <button type="submit">Guardar Cambios</button>
        <a href="/consulta-vehiculos" class="volver-btn">Volver al Menú</a>

    </form>
</div>


</body>
</html>
