<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.1/html2canvas.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Formulario</title>
    <style>

        main {
            width: 100%;
            padding: 20px;
            margin: auto;
            margin-top: 100px;
        }
        *{
margin: 0;

        }


h1{
    
    font-size: 21px;
    padding: 7px;
    margin: 0;
text-align: center;
color: #f3f3f3;
background-color: #666567;


}
p{
    font-size: 15px;
    padding: 30px;


}
.contenido{
    
   top: -100px;
    position: relative;
    left: 20px;
    max-width: 900px;
       
      
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    border: 18px solid #666567; /* Cambia #ff0000 al color que desees */

    }


#viancoo{
    text-align: justify;


}
.protocolo{
 
background-color: #90c9a7;
}
.protocolo img{
position: relative;

width: 50%;
align-items: center;
left: 20%;
}
p strong{
    padding: 30px;
                      border: 4px solid #666567; /* Cambia #ff0000 al color que desees */
  justify-content: center;
}

p{


  
        flex-wrap: wrap;
}
table td{
                      border: 2px solid #666567; /* Cambia #ff0000 al color que desees */

    font-size: 15px;


}
.foto_condcutor{

background-color: #90c9a7;
padding: 30px;


}
strong {
    text-transform: uppercase;
}

.LETRA {
    border: #fff;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
}

.info {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en caso de ser necesario */
}

.texto {
    position: relative;
    left: 70px;
    text-align: justify;
    position: relative;
    
     /* El texto ocupará todo el espacio disponible */
}

.code img {
    padding: 0;
    margin: 0;
    position: relative;
    top: -250px;
    left: 520px;
    width: 250px; /* Ajusta el tamaño del código QR según lo necesites */

}
.asig{

 font-size: 21px;
    padding: 7px;
    margin: 0;
text-align: center;
color: #f3f3f3;
background-color: #666567;
}
.pdf{

    color: #fff;
}
.protocolo{

    background-color: #90c9a7;
    padding: 70PX;


}

   /* Estilos para impresión */

    </style>
</head>
<body>
    <main>
        <div class="contenido" id="contenido">
          <div class="protocolo">



          </div>
            <h1>DATOS DEL SERVICIO</h1>
            <table>
                <tr>
                    <td><strong>Nombre Pasajero:</strong></td>
                    <td>{{datosFormulario.nombre_pasajero}}</td>
                    <td><strong>Fecha:</strong></td>
                    <td>{{datosFormulario.fecha}}</td>
                    
                </tr>
                <tr>
                    <td><strong>N° de Vuelo:</strong></td>
                    <td>{{datosFormulario.vuelo}}</td>
                    <td><strong>Cnt. Pasajeros:</strong></td>
                    <td>{{datosFormulario.cantidad_pasajeros}}</td>
                  
                </tr>
                <tr>
                    <td class="asig"  colspan="6"><strong>Datos del conductor:</strong></td>
                  
                </tr>
             
                <tr>
                    <td ><strong>Conductor asignado:</strong></td>
                    <td>{{datosFormulario.conductor}}</td>
                    <td><strong>Vehículo asignado:</strong></td>
                    <td>{{datosFormulario.tipo_vehiculo}}</td>
                </tr>
                <tr>
               <td><strong>Tipo de Vehículo:</strong></td>
                    <td>CAMIONETA</td>
                    <td><strong>Placa:</strong></td>
                    <td>{{datosFormulario.placa}}</td>
                   
                </tr>
                <tr>
                    <td><strong>Teléfono:</strong></td>
                    <td>{{datosFormulario.celular_conductor}}</td>
                      <td><strong>Hora:</strong></td>
                    <td>{{datosFormulario.hora}}</td>
                    <td colspan="4"></td>
                    
                </tr>
                <tr>
                    <td colspan="6"><strong>Observaciones:</strong></td>
                </tr>
                <tr>
                    
            <td class="LETRA" colspan="6">
   
             <div class="info">
      
             <div class="texto">
            "Hola Si desea realizar modificaciones a la reserva de transporte, por favor comuníquese por los siguientes medios: <br><br>
            OPERACIONES@viancotetransporta.com <br>
            +57 315 670 3770 <br>
            La cancelación y cambios se deben realizar 12 horas antes del servicio. La compañía Vianco Te Transporta SAS protegerá sus datos personales y no serán de uso público ni comercial. Vianco Te Transporta SAS se abstiene de realizar servicios de turismo y transporte o actividad en el cual involucra el Turismo Sexual infringiendo la Ley 679 de 2001."
             
                <strong>Foto del Conductor:</strong>
                <img src="{{datosFormulario.foto}}" alt="Foto del Conductor" style="max-width: 200px;">
      
                   
</td>
                </tr>
                </div>
            </table>
            <!-- Agregar más campos del formulario según sea necesario -->
        </div>
    </main>
<button id="convertirBtn">Convertir a Imagen</button>


   <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/0.9.1/html-to-image.min.js"></script>

    <!-- Resto de tu contenido -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('convertirBtn').addEventListener('click', function() {
            // Captura el elemento contenedor que deseas convertir en imagen
            const container = document.getElementById('contenido'); // Cambia el ID a "contenido"

            // Opciones de configuración para html2canvas (opcional)
            const options = {
                // Configura tus opciones aquí
            };

            // Usa html2canvas para capturar el contenido HTML y convertirlo en una imagen
            html2canvas(container, options).then(canvas => {
                // Convierte el canvas en una URL de datos
                const dataUrl = canvas.toDataURL();

                // Crea un enlace para descargar la imagen
                const a = document.createElement('a');
                a.href = dataUrl;
                a.download = 'miImagen.png';
                a.textContent = 'Descargar Imagen';
                document.body.appendChild(a);

                // Simula un clic en el enlace para iniciar la descarga
                a.click();
            });
        });
    });
</script>




</body>
</html>