<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.3.1/html2canvas.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle del Formulario</title>
    <style>

        main {
            width: 100%;
            padding: 20px;
            margin: auto;
            margin-top: 100px;
        }
        *{
margin: 0;

        }


h1{
    
    font-size: 21px;
    padding: 7px;
    margin: 0;
text-align: center;
color: #f3f3f3;
background-color: #666567;


}
p{
    font-size: 15px;
    padding: 30px;


}
.contenido{
    
   top: -100px;
    position: relative;
    left: 20px;
    max-width: 900px;
       
      
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
                    border: 18px solid #666567; /* Cambia #ff0000 al color que desees */

    }


#viancoo{
    text-align: justify;


}
.protocolo{
background-color: #90c9a7;
}

p strong{
    padding: 30px;
                      border: 4px solid #666567; /* Cambia #ff0000 al color que desees */
  justify-content: center;
}

p{


  
        flex-wrap: wrap;
}
table td{
    border: 2px solid #666567; /* Cambia #ff0000 al color que desees */

    font-size: 15px;
    padding: 10px;


}
.foto_condcutor{

background-color: #90c9a7;
padding: 22px;


}
strong {
    text-transform: uppercase;
    font-size: 16px;
}

.LETRA {
    border: #fff;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
    align-items: center; /* Alinea verticalmente los elementos */
}

.info {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en caso de ser necesario */
}

.texto {
    position: relative;
    left: 70px;
    text-align: justify;
    position: relative;
    
     /* El texto ocupará todo el espacio disponible */
}

.code img {
    padding: 0;
    margin: 0;
    position: relative;
    top: -250px;
    left: 520px;
    width: 250px; /* Ajusta el tamaño del código QR según lo necesites */

}
.asig{

 font-size: 21px;
    padding: 7px;
    margin: 0;
text-align: center;
color: #f3f3f3;
background-color: #666567;

}

.protocolo{

    background-color: #90c9a7;
    padding: 70PX;


}
  .volver-btn {
    position: relative;
    left: 520px;
    top: -70px;
            background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .volver-btn:hover {
            background-color: #d9d9d9;
        }

        .volver {
            position: relative;
    left: 320px;
    top: -70px;
            background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .botones {
            text-align: center;
        }
        .volver :hover {

                        background-color: #d9d9d9;

        }
        .protocolo{

            padding: 220px;

        }
   /* Estilos para impresión */
.texto{
    font-size: 23px;
    position: relative;
    left: 10px;


}
#whaas{
    position: relative;
    width: 30px;
    top: 5px;
     padding-right: 12px;



}
.body{


  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#gmael{
 width: 30px;
 padding-right: 12px;

}
#qr{

  position: absolute;
    width: 280px;
   right: 55px;
   top: 1060px;
    padding: 0;
    margin: 0;


}
 
 strong{
padding: 10PX;

 }
.respuestas{
    font-size: 20px;
padding: 9px;

    text-transform: uppercase;


}
.obs{
    font-size: 32px;
}
.asig{

}

    </style>
</head>
<body>
    <main>
        <div class="contenido" id="contenido">
          <div class="protocolo">



          </div>
            <h1>DATOS DEL SERVICIO</h1>
            <table>
                <tr>
                    <td><strong>Nombre Pasajero:</strong></td>
                    
                    <td class="respuestas"  >{{datosFormulario.nombre_pasajero}}</td>
                    
                    <td><strong>Fecha:</strong></td>
                    <td class="respuestas">{{datosFormulario.fecha}}</td>
                    
                </tr>
                <tr>
                    <td><strong>N° de Vuelo:</strong></td>
                    <td class="respuestas">{{datosFormulario.vuelo}}</td>
                    </div>
                    <td><strong>Cnt. Pasajeros:</strong></td>
                    <td class="respuestas">{{datosFormulario.cantidad_pasajeros}}</td>
                  
                </tr>
                <tr>
                    <td class="asig"  colspan="6"><h1>DATOS DEL CONDUCTOR:</h1></td>
                  
                </tr>
             
                <tr>
                    <td ><strong>Conductor asignado:</strong></td>
                    <td class="respuestas">{{datosFormulario.conductor}}</td>
                    <td><strong>Vehículo asignado:</strong></td>
                    <td class="respuestas">{{datosFormulario.tipo_vehiculo}}</td>
                </tr>
                <tr>
               <td><strong>Tipo de Vehículo:</strong></td>
                    <td>CAMIONETA</td>
                    <td><strong>Placa:</strong></td>
                    <td class="respuestas">{{datosFormulario.placa}}</td>
                   
                </tr>
                <tr>
                    <td><strong>Teléfono:</strong></td>
                    <td class="respuestas">{{datosFormulario.celular_conductor}}</td>
                      <td><strong>Hora:</strong></td>
                    <td class="respuestas">{{datosFormulario.hora}}</td>
                  
                    
               <tr>
<tr>
    <td colspan="3" class="obs"><strong>Observaciones:</strong></td>
    <td colspan="3" class="respuestas">{{datosFormulario.observaciones}}</td>
</tr>       
<tr>
                    <td class="asig"  colspan="6"><h1>POLITICA DE SERVICIO</h1></td>
                  
                </tr>
                            
            <td class="LETRA" colspan="6">
   
             <div class="info">
      
             <div class="texto">
            "Hola Si desea realizar modificaciones a la reserva de transporte, por favor comuníquese por los siguientes medios: <br><br>
            <img  id="gmael" src="/gmail.jpg" alt="">operaciones@viancotetransporta.com <br>
             <img id="whaas" src="/whatsapp-icon.png" alt="">+57 315 670 3770 <br> 
             <br>
            La cancelación y cambios se deben realizar 12 horas antes del servicio. La compañía Vianco Te Transporta SAS protegerá sus datos personales y no serán de uso público ni comercial. Vianco Te Transporta SAS se abstiene de realizar servicios de turismo y transporte o actividad en el cual involucra el Turismo Sexual infringiendo la Ley 679 de 2001."
             
               
                   
</td>
                </tr>
                </div>
            </table>
            <img id="qr" src="/Codigo QR_Mesa de trabajo 1 (1).png" alt="">
            <!-- Agregar más campos del formulario según sea necesario -->
        </div>
    </main>
                      <a href="/" class="volver">Volver al Menú</a>
<button class="volver-btn " id="convertirBtn">DESCARGAR</button>
<button onclick="redireccionarAGmail()">Ir a Gmail</button>



   <script src="https://cdnjs.cloudflare.com/ajax/libs/html-to-image/0.9.1/html-to-image.min.js"></script>

    <!-- Resto de tu contenido -->
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('convertirBtn').addEventListener('click', function() {
            // Captura el elemento contenedor que deseas convertir en imagen
            const container = document.getElementById('contenido'); // Cambia el ID a "contenido"

            // Opciones de configuración para html2canvas (opcional)
            const options = {
                // Configura tus opciones aquí
            };

            // Usa html2canvas para capturar el contenido HTML y convertirlo en una imagen
            html2canvas(container, options).then(canvas => {
                // Convierte el canvas en una URL de datos
                const dataUrl = canvas.toDataURL();

                // Crea un enlace para descargar la imagen
                const a = document.createElement('a');
                a.href = dataUrl;
                a.download = 'miImagen.png';
                a.textContent = 'Descargar Imagen';
                document.body.appendChild(a);

                // Simula un clic en el enlace para iniciar la descarga
                a.click();
            });
        });
    });
    function redireccionarAGmail() {
  // Correo electrónico
  const correo = 'correo_destino@gmail.com';

  // Mensaje predefinido
  const mensaje = encodeURIComponent("Apreciado huésped, gracias por visitar la increíble ciudad de Bogotá. Adjuntamos la imagen generada del formulario.");

  // URL de Gmail con el correo electrónico y el mensaje predefinido
  const url = `https://mail.google.com/mail/?view=cm&fs=1&to=${correo}&su=&body=${mensaje}`;

  // Redireccionar a Gmail
  window.open(url, '_blank');
}
    
</script>




</body>
</html>