<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">

    <title>Agregar Contabilidad</title>
    <!-- Agrega tus enlaces a estilos y fuentes aquí -->


</head>
    <style>
        /* Estilos generales para el cuerpo de la página */
        body {
            font-family: 'Montserrat', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4; /* Color de fondo */
            color: #333; /* Color del texto */
        }

        /* Estilos para el encabezado */
        header {
            background-color: #fff; /* Color de fondo */
            padding: 0px;
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra */
        }

        /* Estilos para el contenedor principal */
        .container {
            max-width: 1700px; /* Ancho máximo */
            margin: auto; /* Centrar horizontalmente */
            padding: 20px; /* Espacio alrededor del contenido */
        }

        /* Estilos para los títulos */
        h1 {
            font-size: 32px; /* Tamaño de fuente */
            margin-top: 30px; /* Margen superior */
            margin-bottom: 20px; /* Margen inferior */
        }

        /* Estilos para el formulario */
        form {
            background-color: #fff; /* Color de fondo */
            padding: 50px; /* Espaciado interno */
            box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra */
           
        }

        /* Estilos para los grupos de formulario */
        .form-group {
            margin-bottom: 20px; /* Margen inferior */
        }

        /* Estilos para las etiquetas de formulario */
        .form-group label {
            display: block; /* Mostrar como bloque */
            font-size: 40px; /* Tamaño de fuente */
            margin-bottom: 5px; /* Margen inferior */
        }

        /* Estilos para los campos de entrada de formulario */
        .form-group input {
            width: 100%; /* Ancho completo */
            font-size: 20px; /* Tamaño de fuente */
            padding: 10px; /* Espaciado interno */
            border: 1px solid #ccc; /* Borde */
            border-radius: 5px; /* Radio del borde */
        }

        /* Estilos para los botones */
        button {
            background-color: #90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            position: relative;
            left: 220px;
        }

        /* Estilos para el hover del botón */
        button:hover {
            background-color: #d9d9d9;
        }

        label {
            padding: 12px;
            font-size: 25px;
            display: inline-block; /* Aplicamos inline-block al div */
            width: 200px; /* Ancho de la caja */
            height: 100px; /* Alto de la caja */
            background-color: ; /* Color de fondo rojo */
            margin-right: 20px; /* Margen derecho para separar las cajas */
        }

        input {
            font-size: 20px;
            text-align: justify;
            align-items: center;
            padding: 10px;
            margin-bottom: 20px;
        }

        strong {
            text-transform: uppercase;
        }

        .volver-btn {
            position:relative;
            left: 30%;
            background-color:#90c9a7;
            color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
            margin-top: 20px;
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
        }

        .volver-btn:hover {
            background-color: #d9d9d9;
        }
    </style>
<body>
  <div class="container">
    <h1>Agregar Contabilidad</h1>
    <form action="/agregar-contabilidad" method="POST">
        <h2>Información de licencia</h2>
        <label for="placa"><strong>Placa:</strong></label>
        <input type="text" id="placa" name="placa" value="{{ contabilidad.placa }}">

        <label for="NOMBRES_LICENCIA"><strong>NOMBRES Y APELLIDOS:</strong></label>
        <input type="text" id="NOMBRES_LICENCIA" name="NOMBRES_LICENCIA" value="{{ contabilidad.NOMBRES_LICENCIA }}">
                
        <label for="TIPO_DE_DOCUMENTO_LICENCIA"><strong>TIPO DE DOCUMENTO:</strong></label>
        <input type="text" id="TIPO_DE_DOCUMENTO_LICENCIA" name="TIPO_DE_DOCUMENTO_LICENCIA" value="{{ contabilidad.TIPO_DE_DOCUMENTO_LICENCIA }}">
                
        <label for="NUMERO_DE_DOCUMENTO_LICENCIA"><strong>N° DE DOCUMENTO:</strong></label>
        <input type="text" id="NUMERO_DE_DOCUMENTO_LICENCIA" name="NUMERO_DE_DOCUMENTO_LICENCIA" value="{{ contabilidad.NUMERO_DE_DOCUMENTO_LICENCIA }}">
                
        <hr>
        <br>
        <h2>Información de Contrato</h2>

        <label for="FECHA_DE_INICIO_CONTRATO"><strong>FECHA DE INICIO:</strong></label>
        <input type="text" id="FECHA_DE_INICIO_CONTRATO" name="FECHA_DE_INICIO_CONTRATO" value="{{ contabilidad.FECHA_DE_INICIO_CONTRATO }}">
        
        <label for="FECHA_FINAL"><strong>FECHA FINAL:</strong></label>
        <input type="text" id="FECHA_FINAL" name="FECHA_FINAL" value="{{ contabilidad.FECHA_FINAL }}">
        
        <label for="MOTIVO_RETIRO"><strong>MOTIVO DEL RETIRO:</strong></label>
        <input type="text" id="MOTIVO_RETIRO" name="MOTIVO_RETIRO" value="{{ contabilidad.MOTIVO_RETIRO }}">
        
        <label for="NOMBRES_CONTRATO"><strong>NOMBRES Y APELLIDOS:</strong></label>
        <input type="text" id="NOMBRES_CONTRATO" name="NOMBRES_CONTRATO" value="{{ contabilidad.NOMBRES_CONTRATO }}">
        
        <label for="TIPO_DE_DOCUMENTO_CONTRATO"><strong>TIPO DE DOCUMENTO:</strong></label>
        <input type="text" id="TIPO_DE_DOCUMENTO_CONTRATO" name="TIPO_DE_DOCUMENTO_CONTRATO" value="{{ contabilidad.TIPO_DE_DOCUMENTO_CONTRATO }}">

        <label for="NUMERO_DE_DOCUMENTO_CONTRATO"><strong>N° DE DOCUMENTO:</strong></label>
        <input type="text" id="NUMERO_DE_DOCUMENTO_CONTRATO" name="NUMERO_DE_DOCUMENTO_CONTRATO" value="{{ contabilidad.NUMERO_DE_DOCUMENTO_CONTRATO }}">

        <label for="DIRECCION_CONTRATO"><strong>DIRECCION:</strong></label>
        <input type="text" id="DIRECCION_CONTRATO" name="DIRECCION_CONTRATO" value="{{ contabilidad.DIRECCION_CONTRATO }}">

        <label for="CELULAR_CONTRATO"><strong>CELULAR:</strong></label>
        <input type="text" id="CELULAR_CONTRATO" name="CELULAR_CONTRATO" value="{{ contabilidad.CELULAR_CONTRATO }}">

        <label for="EMAIL_CONTRATO"><strong>EMAIL:</strong></label>
        <input type="text" id="EMAIL_CONTRATO" name="EMAIL_CONTRATO" value="{{ contabilidad.EMAIL_CONTRATO }}">

        <label for="ACTIVIDAD_ECONOMICA_CONTRATO"><strong>Actividad Económica:</strong></label>
        <input type="text" id="ACTIVIDAD_ECONOMICA_CONTRATO" name="ACTIVIDAD_ECONOMICA_CONTRATO" value="{{ contabilidad.ACTIVIDAD_ECONOMICA_CONTRATO }}">

        <label for="VALOR_ADMINISTRACION"><strong>VALOR ADMINISTRACION:</strong></label>
        <input type="text" id="VALOR_ADMINISTRACION" name="VALOR_ADMINISTRACION" value="{{ contabilidad.VALOR_ADMINISTRACION }}">

        <hr>
        <br>
        <h2>Cuenta bancaria</h2>

        <label for="Nombre"><strong>NOMBRES Y APELLIDOS:</strong></label>
        <input type="text" id="Nombre" name="Nombre" value="{{ contabilidad.Nombre }}">

        <label for="tipo_documento"><strong>TIPO DE DOCUMENTO:</strong></label>
        <input type="text" id="tipo_documento" name="tipo_documento" value="{{ contabilidad.tipo_documento }}">

        <label for="Cedula"><strong>N° DE DOCUMENTO:</strong></label>
        <input type="text" id="Cedula" name="Cedula" value="{{ contabilidad.Cedula }}">

        <label for="Nombre_del_banco"><strong>BANCO</strong></label>
        <input type="text" id="Nombre_del_banco" name="Nombre_del_banco" value="{{ contabilidad.Nombre_del_banco }}">

        <label for="Tipo_de_cuenta_bancaria"><strong>TIPO DE CUENTA BANCARIA:</strong></label>
        <input type="text" id="Tipo_de_cuenta_bancaria" name="Tipo_de_cuenta_bancaria" value="{{ contabilidad.Tipo_de_cuenta_bancaria }}">

        <label for="Numero_de_cuenta"><strong>N° CUENTA:</strong></label>
        <input type="text" id="Numero_de_cuenta" name="Numero_de_cuenta" value="{{ contabilidad.Numero_de_cuenta }}">

        <label for="Direccion"><strong>DIRECCIÓN:</strong></label>
        <input type="text" id="Direccion" name="Direccion" value="{{ contabilidad.Direccion }}">

        <label for="Celular"><strong>CELULAR:</strong></label>
        <input type="text" id="Celular" name="Celular" value="{{ contabilidad.Celular }}">

        <label for="Email"><strong>EMAIL:</strong></label>
        <input type="text" id="Email" name="Email" value="{{ contabilidad.Email }}">

        <!-- Agrega más campos según corresponda -->
    </div>
    <button type="submit">Agregar Contabilidad</button>
    <a href="/consulta-contabilidad" class="volver-btn">Volver al Menú</a>
</form>

    </div>
</body>
</html>
