<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
    <link rel="shortcut icon" href="/imagenes/logo pestaña.PNG" type="image/x-icon">
</head>
<style>














    
                        #logo{
    position: relative;
    left: 90px;

    width: 400px;

}
#vigilado {
    float: right; /* Alinea la imagen a la izquierda dentro del header */
    width: 300px;
}


    

       *{
    
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
    header {
        background-color: white;
    }
    header img {
        max-width: 100%;
        height: auto;
    }
    h1, h2 {
        text-align: center;
    }
    form {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        border: 4px solid black;
        border-radius: 5px;
        background-color: #f9f9f9;
    }
 input[type="checkbox"] {
        margin-right: 10px;
        transform: scale(1.5); /* Ajusta el tamaño del cuadro de verificación */
        margin-right: 10px; /* Añade espacio entre el cuadro de verificación y el texto */
    }
    #fecha{

        font-size: 15px;
        margin-right: 15px;

    }

    /* Estilos para el texto que acompaña a los checkboxes */
    label {
        font-size: 18px; /* Ajusta el tamaño del texto */
    }
     footer{
            background-color: #222;
            padding: 4.9rem;
            color: #ffff;
            position:relative;
            margin: 0;
        }
        footer section{
            float:right ;
            margin:0;
            position: relative;
            top: -60px;
        }
        footer a{
            transition: color 0.3s ease;
            color: #ffff;
            text-decoration: none;
        }
        footer a:hover{
            color: rgb(162, 204, 170);
        }
        footer p{
            position:relative;
            float: left;
            left: -1199px;
            color: #ffff;
            font-size: 20px;
        }
        .bad{
            font-size: 20px;
            position: relative;
            color:rgb(113, 112, 111);
            right: -20px;
            top: 6px;
        }
        .ok{
            font-size: 20px;
            position: relative;
            top: 30px;
        }
        #sele{
            font-size: 30px;


        }
        h1{
            font-size: 50px;

        }
        /* Estilos para el label */
        label {
            font-weight: bold; /* Texto en negrita */
            margin-bottom: 50px; /* Espacio inferior */
            color: #333; /* Color del texto */
        }
        .fond{
          width: 100%;
    }
      .volver-btn:hover {
            background-color: #d9d9d9;
            }
       
                 .volver-btn {
                    position:relative;
                    left: 29%;
                    top: 0px;

                    text-transform:uppercase;
           background-color:#90c9a7;
             color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
           margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
       
        }
                 .CERRAR {
                    position:relative;
                    left: 29%;
                    top: 0px;

                    text-transform:uppercase;
           background-color:#90c9a7;
             color: #000;
            border: none;
            padding: 22px 30px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            display: inline-block;
           margin-top: 20px;
            font-size: 15px;
            font-weight: bold;
            text-decoration: none;
       
        }
           .CERRAR:hover {
            background-color: #d9d9d9;
            }
        
</style>

<body>
                   <header>
        <img id="membrete"   src="/imagenes/menbrete.png"/>
        <img  id="logo"      src="/imagenes/logo vianco.png"/>
        <img  id="vigilado"  src="/imagenes/vigilado.png"/>

        <hr>
        
    
    </header>
<br>
  <br>
        
    
    <h1>Tareas para el turno de {{nombre}}</h1>
    <h2>Turno: {{turno}}</h2>
    <div class="tareas">
    <form  id="tareaForm"        action="/marcar-tarea" method="post">
        <label id="fecha" for="fecha">POR FAVOR SELECCIONE LA FECHA</label>
        <input type="date" name="fecha">
        <br>

<input type="hidden" name="nombre" value="{{nombre}}">
        <br>
<input type="hidden" name="turno" value="{{turno}}">
        <br>
        
        <!-- Tarea: Recepciones Aeropuerto -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="recepciones">CUADRO DE RECEPCIONES DE AEROPUERTO:</label>
            <div>
                <input  type="checkbox"    class="checkbox-group"  id="recepciones_realizado" name="recepciones_realizado" value="realizado">
                <label      class="checkbox-group"   for="recepciones_realizado">Realizado</label>
                <input   class="checkbox-group"   type="checkbox" id="recepciones_no_aplica" name="recepciones_no_aplica" value="no_aplica">
                <label      class="checkbox-group"   for="recepciones_no_aplica">No Aplica</label>
                <input    class="checkbox-group"    type="checkbox" id="recepciones_no_realizado" name="recepciones_no_realizado" value="no_realizado">
                <label   for="recepciones_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Reporte de novedades -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="reporte_novedades">LLEGADAS EJECUTIVOS:</label>
            <div>
                <input type="checkbox" id="reporte_novedades_realizado" name="reporte_novedades_realizado" value="realizado">
                <label for="llegadas_ejecutivos_realizado">Realizado</label>
                <input type="checkbox" id="llegadas_ejecutivos_no_aplica" name="llegadas_ejecutivos_no_aplica" value="no_aplica">
                <label for="llegadas_ejecutivos_no_aplica">No Aplica</label>
                <input type="checkbox" id="llegadas_ejecutivos_no_realizado" name="llegadas_ejecutivos_no_realizado" value="no_realizado">
                <label for="llegadas_ejecutivos_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Repite el mismo patrón para las demás tareas -->
        <!-- Tarea: Información de pagos -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="info_pagos">INFORMACION DE PAGOS O REQUERIMIENTOS:</label>
            <div>
                <input type="checkbox" id="info_pagos_realizado" name="info_pagos_realizado" value="realizado">
                <label for="info_pagos_realizado">Realizado</label>
                <input type="checkbox" id="info_pagos_no_aplica" name="info_pagos_no_aplica" value="no_aplica">
                <label for="info_pagos_no_aplica">No Aplica</label>
                <input type="checkbox" id="info_pagos_no_realizado" name="info_pagos_no_realizado" value="no_realizado">
                <label for="info_pagos_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Revisión de servicios en efectivo -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="revision_servicios">REVISION DE SERVICIOS EN EFECTIVO:</label>
            <div>
                <input type="checkbox" id="revision_servicios_realizado" name="revision_servicios_realizado" value="realizado">
                <label for="revision_servicios_realizado">Realizado</label>
                <input type="checkbox" id="revision_servicios_no_aplica" name="revision_servicios_no_aplica" value="no_aplica">
                <label for="revision_servicios_no_aplica">No Aplica</label>
                <input type="checkbox" id="revision_servicios_no_realizado" name="revision_servicios_no_realizado" value="no_realizado">
                <label for="revision_servicios_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Coordinación de tareas de TaskGo -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="coordinacion_tareas">COORDINACION DE TAREAS DE TASKGO</label>
            <div>
                <input type="checkbox" id="coordinacion_tareas_realizado" name="coordinacion_tareas_realizado" value="realizado">
                <label for="coordinacion_tareas_realizado">Realizado</label>
                <input type="checkbox" id="coordinacion_tareas_no_aplica" name="coordinacion_tareas_no_aplica" value="no_aplica">
                <label for="coordinacion_tareas_no_aplica">No Aplica</label>
                <input type="checkbox" id="coordinacion_tareas_no_realizado" name="coordinacion_tareas_no_realizado" value="no_realizado">
                <label for="coordinacion_tareas_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
    
        
  
       
        
        <!-- Tarea: Entrega de documentos -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="entrega_documentos">ENVIAR ACTAS DE TRIPULACION:</label>
            <div>
                <input type="checkbox" id="entrega_documentos_realizado" name="entrega_documentos_realizado" value="realizado">
                <label for="entrega_documentos_realizado">Realizado</label>
                <input type="checkbox" id="entrega_documentos_no_aplica" name="entrega_documentos_no_aplica" value="no_aplica">
                <label for="entrega_documentos_no_aplica">No Aplica</label>
                <input type="checkbox" id="entrega_documentos_no_realizado" name="entrega_documentos_no_realizado" value="no_realizado">
                <label for="entrega_documentos_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Limpieza del área -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="limpieza_area">LIMPIEZA DEL AREA:</label>
            <div>
                <input type="checkbox" id="limpieza_area_realizado" name="limpieza_area_realizado" value="realizado">
                <label for="limpieza_area_realizado">Realizado</label>
                <input type="checkbox" id="limpieza_area_no_aplica" name="limpieza_area_no_aplica" value="no_aplica">
                <label for="limpieza_area_no_aplica">No Aplica</label>
                <input type="checkbox" id="limpieza_area_no_realizado" name="limpieza_area_no_realizado" value="no_realizado">
                <label for="limpieza_area_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Cierre de operaciones -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="cierre_operaciones">SOLICITUDES AL DIA:</label>
            <div>
                <input type="checkbox" id="cierre_operaciones_realizado" name="cierre_operaciones_realizado" value="realizado">
                <label for="cierre_operaciones_realizado">Realizado</label>
                <input type="checkbox" id="cierre_operaciones_no_aplica" name="cierre_operaciones_no_aplica" value="no_aplica">
                <label for="cierre_operaciones_no_aplica">No Aplica</label>
                <input type="checkbox" id="cierre_operaciones_no_realizado" name="cierre_operaciones_no_realizado" value="no_realizado">
                <label for="cierre_operaciones_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Reporte de actividades -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="reporte_actividades">REPORTE DE TAREAS TIPO  ACTIVIDAD:</label>
            <div>
                <input type="checkbox" id="reporte_actividades_realizado" name="reporte_actividades_realizado" value="realizado">
                <label for="reporte_actividades_realizado">Realizado</label>
                <input type="checkbox" id="reporte_actividades_no_aplica" name="reporte_actividades_no_aplica" value="no_aplica">
                <label for="reporte_actividades_no_aplica">No Aplica</label>
                <input type="checkbox" id="reporte_actividades_no_realizado" name="reporte_actividades_no_realizado" value="no_realizado">
                <label for="reporte_actividades_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Atención al cliente -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="atencion_cliente">ATENCION AL CLIENTE:</label>
            <div>
                <input type="checkbox" id="atencion_cliente_realizado" name="atencion_cliente_realizado" value="realizado">
                <label for="atencion_cliente_realizado">Realizado</label>
                <input type="checkbox" id="atencion_cliente_no_aplica" name="atencion_cliente_no_aplica" value="no_aplica">
                <label for="atencion_cliente_no_aplica">No Aplica</label>
                <input type="checkbox" id="atencion_cliente_no_realizado" name="atencion_cliente_no_realizado" value="no_realizado">
                <label for="atencion_cliente_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Coordinación de servicios -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="coordinacion_servicios">REVISION DE GMAIL:</label>
            <div>
                <input type="checkbox" id="coordinacion_servicios_realizado" name="coordinacion_servicios_realizado" value="realizado">
                <label for="coordinacion_servicios_realizado">Realizado</label>
                <input type="checkbox" id="coordinacion_servicios_no_aplica" name="coordinacion_servicios_no_aplica" value="no_aplica">
                <label for="coordinacion_servicios_no_aplica">No Aplica</label>
                <input type="checkbox" id="coordinacion_servicios_no_realizado" name="coordinacion_servicios_no_realizado" value="no_realizado">
                <label for="coordinacion_servicios_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Revisión de condiciones de vehículos -->
   
        
            <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="salida_ejecutivos">SALIDA EJECUTIVOS:</label>
            <div>
                <input type="checkbox" id="salida_ejecutivos" name="salida_ejecutivos_realizado" value="realizado">
                <label for="salida_ejecutivos_realizado">Realizado</label>
                <input type="checkbox" id="salida_ejecutivos_no_aplica" name="salida_ejecutivos_no_aplica" value="no_aplica">
                <label for="salida_ejecutivos_no_aplica">No Aplica</label>
                <input type="checkbox" id="salida_ejecutivos_no_realizado" name="salida_ejecutivos_no_realizado" value="no_realizado">
                <label for="salida_ejecutivos_no_realizado">No Realizado</label>
            </div>
        </div>
        <!-- Tarea: Comunicación con proveedores -->
     <br>
            <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="reciclaje">REVISION ACTAS DE RECICLAJE:</label>
            <div>
                <input type="checkbox" id="reciclaje" name="reciclaje_realizado" value="realizado">
                <label for="reciclaje_realizado">Realizado</label>
                <input type="checkbox" id="reciclaje_no_aplica" name="reciclaje_no_aplica" value="no_aplica">
                <label for="salida_ejecutivos_no_aplica">No Aplica</label>
                <input type="checkbox" id="reciclaje_no_realizado" name="reciclaje_no_realizado" value="no_realizado">
                <label for="reciclajeno_realizado">No Realizado</label>
            </div>
        </div>
        <br>
        
        <!-- Tarea: Otras actividades -->
        <div style="display: flex; justify-content: space-between;">
            <label style="text-align: left;" for="otras_actividades">REVISION ACTAS DE PRUEBA:</label>
            <div>
                <input type="checkbox" id="otras_actividades_realizado" name="otras_actividades_realizado" value="realizado">
                <label for="otras_actividades_realizado">Realizado</label>
                <input type="checkbox" id="otras_actividades_no_aplica" name="otras_actividades_no_aplica" value="no_aplica">
                <label for="otras_actividades_no_aplica">No Aplica</label>
                <input type="checkbox" id="otras_actividades_no_realizado" name="otras_actividades_no_realizado" value="no_realizado">
                <label for="otras_actividades_no_realizado">No Realizado</label>
            </div>
        </div>
        <br>    
          <br>    <!-- Agregar firma -->
        <label for="firma"><strong>FIRMA DE {{nombre}} : </strong></label><br>
    <canvas id="firmaCanvas" width="400" height="200" style="border:1px solid #000;"></canvas><br>
    <button type="button" onclick="limpiarFirma()">Limpiar Firma</button><br>
<input type="hidden" id="firmaBase64" name="firmaBase64"><!-- Aquí se almacenará la firma en formato base64 -->

        <!-- Agregar campo oculto para el nombre -->
        
        <!-- Botón de enviar -->
        <button  class="CERRAR" type="submit" onclick="guardarFirma()">CERRAR TURNO</button>
    </form>
    </div>
                <a href="/" class="volver-btn">Volver al Menú</a>
                  <br>
        
    
      <br>
        
    
    <footer>
        <section>
            <a href="mailto:soporte.it.vianco@gmail.com">soporte.it.vianco@gmail.com</a>
            <p>Copyrigt soporteVianco</p>
               <nav class="">
        <ul class="w-full ml-auto flex justify-end pt-1">
          
            
        </ul>
    </nav>
   </footer>

    <script>
   // Obtener el valor del turno seleccionado anteriormente
    
        var canvas = document.getElementById('firmaCanvas');
        var ctx = canvas.getContext('2d');

        // Variables para controlar el estado de la firma
        var firmaActiva = false;
        var lastX = 0;
        var lastY = 0;

        // Eventos de ratón para dibujar la firma
        canvas.addEventListener('mousedown', function(e) {
            firmaActiva = true;
            [lastX, lastY] = [e.offsetX, e.offsetY];
        });

        canvas.addEventListener('mousemove', function(e) {
            if (firmaActiva) {
                var currentX = e.offsetX;
                var currentY = e.offsetY;
                ctx.beginPath();
                ctx.moveTo(lastX, lastY);
                ctx.lineTo(currentX, currentY);
                ctx.stroke();
                [lastX, lastY] = [currentX, currentY];
            }
        });

        canvas.addEventListener('mouseup', function() {
            firmaActiva = false;
        });

        // Convertir la firma en base64 y almacenarla en el campo oculto
        function guardarFirma() {
            var firmaBase64 = canvas.toDataURL();
            console.log("Firma en formato base64:", firmaBase64);
            document.getElementById('firmaBase64').value = firmaBase64;
        }

        function limpiarFirma() {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            document.getElementById('firmaBase64').value = '';
            console.log("Firma borrada");
        }
        canvas.addEventListener('touchstart', function(e) {
            firmaActiva = true;
            var touch = e.touches[0];
            [lastX, lastY] = [touch.clientX - canvas.offsetLeft, touch.clientY - canvas.offsetTop];
        });

        canvas.addEventListener('touchmove', function(e) {
            e.preventDefault(); // Evita el desplazamiento de la página en dispositivos táctiles
            if (firmaActiva) {
                var touch = e.touches[0];
                var currentX = touch.clientX - canvas.offsetLeft;
                var currentY = touch.clientY - canvas.offsetTop;
                ctx.beginPath();
                ctx.moveTo(lastX, lastY);
                ctx.lineTo(currentX, currentY);
                ctx.stroke();
                [lastX, lastY] = [currentX, currentY];
            }
        });

        canvas.addEventListener('touchend', function() {
            firmaActiva = false;
        });

     // JavaScript para deseleccionar otros checkboxes del mismo grupo
        document.addEventListener('DOMContentLoaded', function() {
            const checkboxes = document.querySelectorAll('.checkbox-group');

            function uncheckOthers(event) {
                checkboxes.forEach(checkbox => {
                    if (checkbox !== event.target && checkbox.name === event.target.name) {
                        checkbox.checked = false;
                    }
                });
            }

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', uncheckOthers);
            });
        });

    </script>
  <script>
        // Después de enviar el formulario, redirigir al usuario a la página de inicio
        document.getElementById('tareaForm').addEventListener('submit', function() {
            setTimeout(function() {
                window.location.href = '/inicio';
            }, 1000); // Redirigir después de 1 segundo (ajusta este valor según tus necesidades)
        });
    </script>

</body>
</html>

